.btn {
    width: auto;
    font-size: $fontsize-1;
    background-color: $color-primary;
    min-height: 3rem;
    border-radius: 10%;
    box-shadow: 2px 2px 1px black;
    cursor: pointer;
}
.btn-checkmark {
    width: auto;
    font-size: $fontsize-1;
    background-color: $color-yes;
    min-height: 3rem;
    border-radius: 50%;
    box-shadow: 2px 2px 1px black;
    cursor: pointer;
}
.btn-cancel {
    width: auto;
    font-size: $fontsize-1;
    background-color: $color-no;
    min-height: 3rem;
    border-radius: 50%;
    box-shadow: 2px 2px 1px black;
    cursor: pointer;
}