//============================================
// Type Scale
//============================================
$fontsize-small: .75rem;
$fontsize-base: 1.125rem;
$fontsize-1: 1.688rem;
$fontsize-2: 2.531rem;
$fontsize-3: 3.797rem;
$fontsize-4: 5.695rem;
$fontsize-5: 8.543rem;
//============================================
// Global
//============================================
.columns {
    text-align: center;
}
//============================================
// Header 
//============================================
header {
    h1 { font-size: $fontsize-3; margin: 2rem 0; }
    .input { margin: 1rem auto; max-width: 400px; display: block; }

}
//============================================
// Main 
//============================================
main {
    .not-complete {
        text-align: left;
        .level {
            border-radius: 6px; 
            width: 50%;
            margin: 0 auto; 
            p { font-size: $fontsize-1; margin-left: 2rem; }
            .fas { margin: 0 .5rem; padding: 1rem 0; cursor: pointer; }
            .fa-trash { padding-right: .5rem; }
        }
        
    }
}


//============================================
// Import partials
//============================================
@import "_modules";