<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
    <link rel="stylesheet" href="./css/styles.css">
    <title>Vue To-Do</title>
</head>
<body>
    
    <div id="app">

        <header>
            <h1>Vue To Do</h1>
            <input type="text">
            <button class="btn" type="submit">Add Item</button>
        </header>

        <main>

            <section class="not-complete">
                <h1>Todo</h1>
            </section>

            <section class="complete">
                <h1>Completed</h1>
            </section>

        </main>

    </div>
 

<script src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.js"></script>
<script src="./js/scripts.js"></script>
</body>
</html>