<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
    <link rel="stylesheet" href="https://unpkg.com/bulmaswatch/flatly/bulmaswatch.min.css">
    <link rel="stylesheet" href="./css/styles.css">
    <title>Vue To-Do</title>
</head>
<body>
    
    <div id="app" class="columns is-centered">

        <div class="column is-full container">

        <header class="section">
            <h1>Vue To Do</h1>
            <form id="li-form">
                <input id="li-input" class="input" type="text">
                <button @click.prevent="addItem()" class="button is-primary is-large is-rounded">Add Item</button>
            </form>
            
        </header>

        <main>

            <section class="not-complete">
                <ul v-for="item in notComp">
                    <li><i @click="markComplete(item)" class="fas fa-check-square"></i>{{ item.list_item }}</li>
                </ul>
            </section>
            <section class="not-complete">            
                    <ul>
                        <li><i class="fas fa-check-circle fa-2x"></i>Milk</li>
                        <li><i class="fas fa-check-circle fa-2x"></i>Milk</li>
                    </ul>
            </section>

            <section class="complete">
                <ul v-for="item in complete">
                    <li>
                        <span class="left">
                            <p>{{ item.list_item }}</p>
                        </span>
                        <span class="right">
                            <i @click="deleteItem(item.list_item);" class="fas fa-trash fa-2x"></i>
                        </span>
                    </li>
                    
                </ul>
            </section>

        </main>

        </div>

    </div>
 

<script src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.js"></script>
<script src="./js/scripts.js"></script>
</body>
</html>